@{
    ViewData["Title"] = "Home Page";
}

@model BookListViewModel
<!--Holds the actual html usage of the data in the database-->
<!--Extra Boostrap commands:
    1. bg-dark
    2. text-white
    3. text-muted
    4. text-warning
    5. text-danger (just to see what it looks like)-->

@foreach (var x in Model.Books)
{
    <partial name="BookSummary" model="x" />
}

<div page-model="@Model.PagingInfo" page-action="Index" page-classes-enabled="true" page-class="btn"
     page-class-normal="btn-outline-dark"
     page-class-selected="btn-primary" page-url-category="@Model.CurrentCategory"
     class="btn-group pull-right m-1"></div>    
 <!--Because we've set it up for 'page-url-' to have something else, we can put whatever we want after it-->
